{% extends 'base.html.twig' %}

{% block title %}Releaser | Login{% endblock %}

{% block body %}
    <div class="container mt-5 ">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <h1 class="text-center">Releaser</h1>
            <div class="form-group mt-5">
                <label for="inputEmail">Username</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputEmail" class="form-control" required autofocus>
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
            <div class="text-center mt-5">
                <button class="btn btn-lg btn-success" type="submit">Login</button>
            </div>
        </form>
    </div>
{% endblock %}
{% block javascripts %}

{% endblock %}
