{% extends 'base.html.twig' %}

{% block title %}Releaser | categories{% endblock %}

{% block body %}
    {{ include('navbar.html.twig') }}
    <div class="container mt-5 ">
        <h1 class="text-center font-weight-bold">Releaser</h1>
        <div class="row mt-5">
            {% for category in pagination  %}
                {% if app.request.cookies.get('mode') == "Dark" %}
                    <style>
                        .card{
                            background: #004d66 !important;
                        }
                        .badge{
                            background: black !important;
                        }
                    </style>
                {% else %}
                    <style>
                        .card{
                            background: white !important;
                        }
                    </style>
                {% endif %}
                <div class="mt-5 col-md-6 col-lg-4">
                    {{ include('category/category.html.twig') }}
                </div>
            {% endfor %}
        </div>
    </div>
    <nav class="ml-5 mb-5" aria-label="...">
        <ul class="pagination">
            {{knp_pagination_render(pagination)}}
        </ul>
    </nav>
{% endblock %}
{% block javascripts %}
<script>
    $("span").addClass('page-item');
    $('span a').each(function(i)
    {
        $(this).addClass('page-link'); // This is your rel value
    });
    var page =  window.location.href.slice(-1);
    if (isNaN(Number(page)))page = 1;
    $(".current").addClass("active").empty().append("<span class=\"page-link\">\n" +
        +{{ pagination.currentPageNumber }} + "\n" +
        "<span class=\"sr-only\">(current)</span>\n" +
        "</span>");
    {% if pagination.items == [] %}
    $("#categories_and_dates_form_export").hide();
    {% endif %}
</script>
{% endblock %}
