{% block body %}
    <div class="card  m-3" >
            <div class="card-header">
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="float-right" href="/admin/category/{{ category.getId }}/modify" ><span class="badge badge-info ">{% trans %}Modifier{% endtrans %}</span></a>
                {% endif %}
            </div>
            <div class="card-body ">
                <h5 class="card-title">{{ category.getName }}</h5>
                <p class="card-text">{{ category.getDescription }}</p>
                <div class="d-inline-block">
                    <a href="/category/{{ category.getId }}/posts" class="btn btn-primary mt-auto">{% trans %}Voir les mises à jour{% endtrans %}</a>
                </div>
            </div>
    </div>
{% endblock %}