{% extends 'base.html.twig' %}
{% block title %}Releaser | PasswordChanger{% endblock %}
{% block body %}
    {{ include('navbar.html.twig') }}
    <div class="container p-5">
        {% if passchanged %}
            <div class="container mt-5 text-center">
                <div class="alert alert-success hide" role="alert">
                    Votre mot de passe à été changé avec succés
                </div>
            </div>
        {% endif %}
        {% if error is not null %}
            <div class="container mt-5 text-center">
                <div class="alert alert-danger hide" role="alert">
                    {{ error }}
                </div>
            </div>
        {% endif %}
        <h1 class="text-center">Changer votre mot de passe :</h1>
        {{ form_start(form) }}
        <div class="mt-5">
                {{ form_row(form.oldPass) }}
        </div>
        <div class="mt-3">
                {{ form_row(form.newPass) }}
        </div>
        <div class="mt-3">
                {{ form_row(form.newPassConfirm) }}
        </div>
        <div class="text-center mt-5">
                <button class="btn btn-dark" type="submit">Changer le mot de passe</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}



