{% extends 'base.html.twig' %}
{% block title %}Releaser | PasswordChanger{% endblock %}
{% block body %}
    {{ include('navbar.html.twig') }}
    <div class="container p-5">
        {% if emailChanged %}
            <div class="container mt-5 text-center">
                <div class="alert alert-success hide" role="alert">
                    {% trans %} Votre Email à été changé avec succés {% endtrans %}
                </div>
            </div>
        {% endif %}
        {% if error is not null %}
            <div class="container mt-5 text-center">
                <div class="alert alert-danger hide" role="alert">
                    {{ error | trans }}
                </div>
            </div>
        {% endif %}
        <h1 class="text-center">{% trans %}Changer votre Email : {% endtrans %}</h1>
        {{ form_start(form) }}
        <div class="justify-content-center mt-5 ">
            {{ form_label(form.email) | raw }}
            {{ form_widget(form.email) }}
        </div>
        <div class="text-center mt-5">
            <button class="btn btn-dark" type="submit">{% trans %}Changer l'email{% endtrans %}</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}