{% extends 'base.html.twig' %}

{% block title %}Releaser | Profil{% endblock %}

{% block body %}
    {{ include('navbar.html.twig') }}
    <div class="container mt-5 bg-info p-5 rounded shadow">
        <div class="d-flex flex-row justify-content-center ">
            <div class="align-self-end mt-5">
                <h2>Email :</h2>
            </div>
            <div class=" ml-3 align-self-end">
                <h3>{{ app.user.getEmail }}</h3>
            </div>
        </div>
        <div class="text-center mb-5 ">
            <a class="btn btn-dark mt-5" href="{{ path('changeEmail')  }}" role="button" data-toggle="tooltip" data-placement="bottom" >{% trans %}Changer l'email{% endtrans %}</a>
        </div>
        <div class="d-flex flex-row justify-content-center mt-5">
            <div class="align-self-end">
                <h2>Username :</h2>
            </div>
            <div class=" ml-3 align-self-end">
                <h2>{{ app.user.getUsername }}</h2>
            </div>
        </div>
        <div class="text-center mb-5 ">
            {% if app.user.getPassword != "" %}
                <a class="btn btn-dark mt-5" href="{{ path('changePassword')  }}" role="button" data-toggle="tooltip" data-placement="bottom" > Changer le mot de passe</a>
            {% endif %}
            <div class="alert alert-warning alert-dismissible fade show mt-5" role="alert">{% trans %}
                Un compte<strong> Active Directory </strong>ne peut pas changer de mot de passe !{% endtrans %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-center ">
            <div class="align-self-end mt-5">
                <h2>API Key :</h2>
            </div>
            <div class=" ml-3 align-self-end">
                <h3 id="key1">*******************************</h3>
                <h3 id="key2" style="display: none;">{{ app.user.apiToken }}</h3>
            </div>
        </div>
        <div class="text-center mb-5 ">
            <a class="btn btn-dark mt-5" href="#" onclick="showAPIKey()" role="button" data-toggle="tooltip" data-placement="bottom" >{% trans %}Afficher la key{% endtrans %}</a>
        </div>
        <div class="d-flex flex-row justify-content-center mt-5">
            <div class="align-self-end">
                <h2>Notification par mail :</h2>
            </div>
            <div class=" ml-3 align-self-end">
                {% if app.user.getIsNotify %}
                    <h2>OUI</h2>
                {% else %}
                    <h2>NON</h2>
                {% endif %}
            </div>
        </div>
        <div class="text-center mb-5 ">
            {% if app.user.getIsNotify %}
                <a class="btn btn-danger mt-5" href="{{  path('changeIsNotify') }}" >{% trans %}Ne plus être notifié{% endtrans %}</a>
            {% else %}
                <a class="btn btn-success mt-5"href="{{  path('changeIsNotify') }}">{% trans %}Etre notifié{% endtrans %}</a>
            {% endif %}
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        function showAPIKey() {
            $("#key1").toggle();
            $("#key2").toggle();
        }
    </script>
{% endblock %}