{% extends 'base.html.twig' %}

{% block title %}Releaser | Register{% endblock %}

{% block body %}
    <h1 class="text-center mt-5">Inscription</h1>
    <div class="container mt-5">
        {{ form_start(form) }}
            {{ form_row(form.password) }}
            {{ form_row(form.verificationPassword) }}
            <div class="text-center mt-5">
                <button class="btn btn-success" type="submit">S'inscrire</button>
            </div>
        {{ form_end(form) }}

    </div>
{% endblock %}