{% extends 'base.html.twig' %}

{% block title %}Releaser | New | Category {% endblock %}

{% block body %}
    {{ include('navbarAdmin.html.twig') }}

    <div class="container ">
        {% if error is not null %}
            <div class="container mt-5 text-center">
                <div class="alert alert-danger hide" role="alert">
                    {{ error }}
                </div>
            </div>
        {% endif %}
        {{ form_start(form) }}
        <div class="mt-5">
            {{ form_row(form.name) }}
        </div>
        <div class="mt-3">
            {{ form_row(form.description) }}
        </div>
        <div class="text-center mt-5 ">
            {% if delete is not null  %}
                <div class="text-center d-inline">
                    <a  href="{{ path('admin_deleteCategory',{'idCategory':  app.request.attributes.get('idCategory') }) }}"><button class="btn btn-danger">{% trans %}Supprimer{% endtrans %}</button></a>
                </div>
            {% endif %}
            <div class="text-center d-inline">
                <button class="btn btn-dark" type="submit">{% trans %}Valider{% endtrans %}</button>
            </div>
        </div>
        {{ form_end(form) }}

    </div>

{% endblock %}
{% block javascripts %}
    <script>
        jQuery.datetimepicker.setLocale('fr');
        $('.datetime').datetimepicker({
            format: 'd/m/Y h:i',
            onShow: function (ct) {
                this.setOptions({
                    maxDate: new Date()
                })
            }
        });
    </script>
{% endblock %}