{% extends 'base.html.twig' %}

{% block title %}Releaser | Post | new{% endblock %}

{% block body %}
    {{ include('navbarAdmin.html.twig') }}
    <div class="container ">
        {% if error %}
            <div class="container mt-5 text-center">
                <div class="alert alert-danger hide" role="alert">
                    {{ error | trans }}
                </div>
            </div>
        {% endif %}
        {{ form_start(form) }}
        <div class="mt-5">
            {{ form_row(form.date) }}
        </div>
        <div class="mt-3">
            {{ form_row(form.description) }}
        </div>
        <div class="mt-3">
            <div class="row mt-5">
                {% for row in form.children['categories'].children  %}
                    <div class="col-6 col-md-3">
                        {{ form_widget(row) }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="text-center mt-5">
            {% if delete   %}
                <div class="text-center d-inline">
                    <a  href="{{ path('admin_deletePost',{'idPost':  app.request.attributes.get('idPost') }) }}"><button type="button" class="btn btn-danger">{% trans %}Supprimer{% endtrans %}</button></a>
                </div>
            {% endif %}
            <div class="text-center d-inline">
                <button class="btn btn-dark" type="submit">{% trans %}Valider{% endtrans %}</button>
            </div>

        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        jQuery.datetimepicker.setLocale('fr');
        $('.datetime').datetimepicker({
            format: 'd/m/Y H:i',
            step: 1,
            {%  if app.request.get("idPost") == null %}
            value: new Date(),
            {% endif %}
            onShow: function (ct) {
                this.setOptions({
                    maxDate: new Date(),
                    format: 'd/m/Y H:i',
                })
            }
        });
    </script>
{% endblock %}