{% extends 'base.html.twig' %}

{% block title %}Releaser | Admin {% endblock %}

{% block body %}
    {{ include('navbarAdmin.html.twig') }}
    {% if isCreated %}
        <div class="container mt-5 text-center">
            <div class="alert alert-success hide" role="alert">
                L'utilisateur à bien été crée
            </div>
        </div>
    {% endif %}
    {% if error is not null %}
        <div class="container mt-5 text-center">
            <div class="alert alert-danger hide" role="alert">
                {{ error | trans}}
            </div>
        </div>
    {% endif %}
    <div class="container p-5 mt-5">
        <h1 class="text-center">{% trans %}Créer un utilisateur :{% endtrans %}</h1>
        {{ form_start(form) }}
            <div class="mt-5">
                {{ form_row(form.email) }}
            </div>
            <div class="mt-3">
                {{ form_row(form.username) }}
            </div>
            <div class="mt-3">
                {{ form_row(form.isAdmin) }}
            </div>
            <div class="text-center mt-5">
                <button class="btn btn-dark" type="submit">{% trans %}Créer{% endtrans %}</button>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
