{% extends 'base.html.twig' %}

{% block title %}Releaser | Admin {% endblock %}

{% block body %}
    {{ include('navbarAdmin.html.twig') }}
    <div class="container">
        <div class="table-responsive mt-5">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                {% for user in users %}
                        {% if user.getIsDeleted() %}
                            <tr class="bg-danger">
                            <th scope="col">{{ user.username }}</th>
                            <th scope="col">{{ user.email }}</th>
                            <th class="text-center" scope="col"><a href="{{ path('changeStatusUser',{'id': user.getID() }) }}"><button class="btn btn-success">V</button></a></th>
                        {% else %}
                            <tr class="bg-success">
                            <th scope="col">{{ user.username }}</th>
                            <th scope="col">{{ user.email }}</th>
                            <th class="text-center" scope="col"><a href="{{ path('changeStatusUser',{'id': user.getID() })  }}"><button class="btn btn-danger">X</button></a></th>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}