{% extends 'base.html.twig' %}

{% block title %}Releaser | Admin {% endblock %}

{% block body %}
    {{ include('navbarAdmin.html.twig') }}
    {% if result %}
        <div class="container mt-5 text-center">
            <div class="alert alert-info hide" role="alert">
                {% trans %}Fichier ajouté :{% endtrans %}
                <ul class="list-group">
                    {% for file in result[1] %}
                        <li class="list-group-item list-group-item-success">{{ file }}</li>
                    {% endfor %}
                </ul>
                <br>
                {% trans %}Fichier refusé :{% endtrans %}
                <ul class="list-group">
                    {% for file in result[0] %}
                        <li class="list-group-item list-group-item-danger">{{ file[0] }}
                            <a type="button " class="ml-2" data-toggle="tooltip" data-placement="top" title="{{ file[1] | trans }}">
                                <svg class="bi bi-info-circle-fill" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                </svg>
                            </a>
                        </li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    {% endif %}
    <h1 class="text-center mt-5">{% trans %}Ajouter EML :{% endtrans %}</h1>
    <div class=" container mt-5">
        <div class="alert alert-danger" role="alert" id="max20">
            Il doit avoir moins de 20 fichiers
        </div>
        {{ form_start(form) }}
        <div class="text-truncate">
        {{ form_label(form.EMLFiles) }}
        </div>
        {{ form_widget(form.EMLFiles) }}
    </div>
        <div class="text-center mt-5">
            <button class="btn btn-dark" type="submit">
                <div class="form-inline">
                    <div>
                        {% trans %}Charger{% endtrans %}
                    </div>
                    <div class="spinner-border d-none ml-2" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </button>

        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $("div#max20").hide();
        $("#eml_file_EMLFiles").change(function() {
            $("label[class=custom-file-label]").empty();
            var names = [];
            for (var i = 0; i < $(this).get(0).files.length; ++i) {
                names.push($(this).get(0).files[i].name);
            }
            if(i>3){
                $("label[class=custom-file-label]").append(names[0],names[1],names[2],'...');
            }else{
                $("label[class=custom-file-label]").append(names);
            }
        });
        $('form[name=eml_file]').submit(function(e) {
            if($("#eml_file_EMLFiles").get(0).files.length > 20){
                $("div#max20").show()
                return false;
             }
            if(!($("#eml_file_EMLFiles").val() == '')){
                $( ":button" ).prop('disabled', true);
                $('.spinner-border').addClass('d-block');
            }

        })
    </script>
{% endblock %}