{% extends 'base.html.twig' %}

{% block title %}Releaser | Admin {% endblock %}

{% block body %}
    <div class="container text-center mt-5">
        <h1>Cet utilisateur est actuellement désactivé. Veuillez contacter un admin pour le reactiver</h1>
        <a href="{{ path('app_logout') }}"><button class="btn btn-info">Retour</button></a>
    </div>
{% endblock %}