<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Releaser{% endblock %}</title>
    <link href="{{ asset('css/bootstrap.min.css') }} " rel="stylesheet">
    <link href="{{ asset('css/jquery.datetimepicker.min.css') }}" rel="stylesheet">
    <style>
        }</style>
    {% block stylesheets %}
    {% endblock %}
    {% block head %}
    {% endblock %}
</head>
<body id="body">
{% block body %}
{% endblock %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/jquery.datetimepicker.full.min.js') }}"></script>

<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
    $( ".inner-switch" ).on("click", function() {
        darker()
    });

    {% if app.request.cookies.get('mode') == "Dark" %}
    document.body.style.backgroundColor = "rgba(0, 0, 0, 0.90)"
    document.body.style.color = "white"
    {% else %}
    document.body.style.backgroundColor = "white"
    {% endif %}

    function darker() {
        if ( accessCookie("mode") === 'Dark') {
            document.cookie = "mode=Light; path=/";
        }
        else if (accessCookie("mode") === '' || undefined) {
            document.cookie = "mode=Dark; path=/";
        }
        else if( accessCookie("mode") === 'Light') {
            document.cookie = "mode=Dark; path=/";
        }
        console.log(document.cookie)
        window.location.reload(false);
    }
    function accessCookie(cookieName)
    {
        var name = cookieName + "=";
        var allCookieArray = document.cookie.split(';');
        for(var i=0; i<allCookieArray.length; i++)
        {
            var temp = allCookieArray[i].trim();
            if (temp.indexOf(name)==0)
                return temp.substring(name.length,temp.length);
        }
        return "";
    }

</script>
{% block javascripts %}{% endblock %}
</body>
</html>

