{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="{{ path('posts') }}" class="navbar-brand">Releaser</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="navbar-brand" href="{{ path('admin_makeCategory') }}">{% trans %}Ajouter une categorie{% endtrans %}</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="{{ path('admin_makePost') }}">{% trans %}Ajouter un post{% endtrans %}</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="{{ path('addPostFromEmail') }}">Mail -> Post</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="{{ path('user') }}">{% trans %}Ajouter un utilisateur{% endtrans %}</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="navbar-brand" href="{{ path('users') }}">{% trans %}Gerer les utilisateurs{% endtrans %}</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}