{% extends 'base.html.twig' %}

{% block title %}Releaser | posts{% endblock %}

{% block body %}

    {{ include('navbar.html.twig') }}
    <div class="container" id="filter">
        {% if error is not null %}
            <div class="container mt-5 text-center">
                <div class="alert alert-danger hide" role="alert">
                    {{ error }}
                </div>
            </div>
        {% endif %}
        <center>
            <a class="btn btn-primary mt-3" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">{% trans %}Afficher filtres{% endtrans %}</a>
        </center>
        <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="container mt-5 ">
                {{  form_start(form) }}
                    <div class="row">
                       {% if form.children['categories'].children != [] %}
                           {% for row in form.children['categories'].children  %}
                                <div class="col-6 col-md-4 row">
                                    <div class="col-10 col-md-10">
                                        {{ form_row(row) }}
                                    </div>
                                    <div class="col-2 col-md-2">
                                        <svg width="1em" style="cursor: pointer" data-toggle="popover" data-content="{{ row.vars.attr["description"]}}" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                            <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                                            <circle cx="8" cy="4.5" r="1"/>
                                        </svg>
                                    </div>
                                </div>

                            {% endfor %}
                        {% else %}
                            {{ form_row(form.categories) }}
                        {% endif %}
                    </div>
                </div>
            <div class="form-inline justify-content-center mt-5 ">
                {{ form_label(form.date.dateStart) | raw }}
                {{ form_widget(form.date.dateStart) }}
                {{ form_label(form.date.dateEnd) | raw }}
                {{ form_widget(form.date.dateEnd)}}
            </div>
            {{ form_label(form.description) | raw }}
            {{ form_widget(form.description) }}

            <div class="mt-5 d-flex justify-content-center" id="test">
                <button class="btn btn-dark" type="submit" id="submit" >{% trans %}Rechercher{% endtrans %}</button>
            </div>
        </div>
    </div>
        <hr>
        <div class="pr-5 pl-5" id="result">
            <div class="row">
                {% if app.request.cookies.get('mode') == "Dark" %}
                    <style>
                        .card{
                            background: #004d66 !important;
                        }
                        .badge{
                            background: rgba(0, 0, 0, 0.90);
                        }
                    </style>
                {% else %}
                    <style>
                        .card{
                            background: white;
                        }
                    </style>
                {% endif %}
                {% if pagination.items != [] %}
                    {% for post in pagination  %}
                        <div class="mt-5 col-md-6 col-lg-4">

                            {{ include('post/post.html.twig') }}
                        </div>
                    {% endfor %}

                {% else %}
                    <div class="container">
                        <h1 class="text-center">Aucun post n'a été trouvé.</h1>
                    </div>
                {% endif %}
            </div>
            <div class="mt-5 text-center">
                <div class="dropdown categories_and_dates_form_export">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Exporter
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {{ form_widget(form.exportPDF)}}
                        {{ form_widget(form.exportCSV)}}
                        {{ form_widget(form.exportXML)}}
                    </div>
                </div>
            </div>
        {{  form_end(form) }}
    </div>
    <nav class="ml-5 mb-5 mt-5" aria-label="...">
        <ul class="pagination ">
            {{knp_pagination_render(pagination)}}
        </ul>
    </nav>
{% endblock %}
{% block javascripts %}
    <script>
        jQuery.datetimepicker.setLocale('fr');
        $('.datetime').datetimepicker({
            format: 'd/m/Y H:m',
            onShow: function (ct) {
                this.setOptions({
                    maxDate: new Date()
                })
            }
        });
        $("span").addClass('page-item');
        $('span a').each(function(i)
        {
            $(this).addClass('page-link'); // This is your rel value
        });
        var page =  window.location.href.slice(-1);
        if (isNaN(Number(page)))page = 1;
        $(".current").addClass("active").empty().append("<span class=\"page-link\">\n" +
            +{{ pagination.currentPageNumber }} + "\n" +
            "<span class=\"sr-only\">(current)</span>\n" +
            "</span>");
        {% if pagination.items == [] %}
            $(".categories_and_dates_form_export").hide();
        {% endif %}
    </script>
{% endblock %}