{% extends 'base.html.twig' %}

{% block title %}Releaser | posts {% endblock %}

{% block body %}
   {{ include('navbar.html.twig') }}
    <!-- <div class="jumbotron text-center">
        {{ form_start(form) }}
        <div class="form-group">
            {% if error is not null %}
                <div class="alert alert-danger hide" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <div class="container">
                <div class="form-inline justify-content-center mt-5">
                    {{ form_label(form.dateStart) | raw}}
                    {{ form_widget(form.dateStart) }}
                    {{ form_label(form.dateEnd) | raw}}
                    {{ form_widget(form.dateEnd) }}
                </div>
            </div>
            <button type="submit" class="btn btn-dark mt-5">Rechercher</button>
            {{ form_end(form) }}
        </div>
    </div>-->
    <div class="container mt-5">
        <h1 class="text-center font-weight-bold">{{ category[0].getName }}</h1>
        <hr class="mt-5">
        <div class="row mt-5">
            {% if pagination != null %}
                {% if app.request.cookies.get('mode') == "Dark" %}
                    <style>
                        .card{
                            background: #004d66 !important;
                        }
                        .badge{
                            background: rgba(0, 0, 0, 0.90);
                        }
                    </style>
                {% else %}
                    <style>
                        .card{
                            background: white;
                        }
                    </style>
                {% endif %}
                {% for post in pagination %}
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    {{ include('post/post.html.twig') }}
                    </div>
                {% endfor %}
            {% else %}
                <h1 class="text-center">Aucun resultats :/</h1>
            {% endif %}
         </div>
    </div>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        jQuery.datetimepicker.setLocale('fr');
        $('.datetime').datetimepicker({
            format: 'd/m/Y h:m',
            onShow: function (ct) {
                this.setOptions({
                    maxDate: new Date()
                })
            }
        });
    </script>
{% endblock %}
