
<div class="card m-3">
    <div class="card-header">
        {% for category in post.categories  %}
            <a href="{{ path('postsByCategories',{'categoryID': category.id })}}" class="badge badge-primary">{{ category.getName}}</a>
        {% endfor %}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ post.getDate.format('d/m/Y H:i') }}</h5>
        {% if form.children.description.vars['value'] is defined and form.children.description.vars['value'] != '' %}
            {% set twig_content_variable = post.getDescription|lower %}
            {% set replace_value_var = form.children.description.vars['value'] |lower %}
            {% set replace_with_value_var = '<strong>'~form.children.description.vars['value']|lower~'</strong>'  %}
            <style> strong{ background : #FFFF00; font-weight: normal !important;}></style>
            <p class="card-text">{{ twig_content_variable|replace({ (replace_value_var): replace_with_value_var }) | raw | nl2br }}</p>
            {% else %}
                <p class="card-text">{{ post.getDescription|nl2br }}</p>
        {% endif %}
    </div>
    <div class="card-footer ">
        <p class="card-text d-inline">{% trans %}Posté par :{% endtrans %} {{ post.getAuthor.getUsername }}</p>
        {% if is_granted('ROLE_ADMIN') and app.user == post.author %}
            <a class="d-inline float-right" href="/admin/post/{{ post.id }}/modify"><span class="badge badge-info ">{% trans %}Modifier{% endtrans %}</span></a>
        {% endif %}
    </div>
</div>



