{# templates/bundles/TwigBundle/Exception/error.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    {{ include('navbar.html.twig') }}
    <div class="container mt-5 text-center">
        <h1>Désolé Vous n'avez pas accés à cette page</h1>
    </div>
{% endblock %}