{# templates/bundles/TwigBundle/Exception/error.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    {{ include('navbar.html.twig') }}
    <div class="container mt-5 text-center">
        <h1>Une erreur est survenue ...</h1>
        <p>
            Le support à été prevenu nous sommes desolé pour le désagrément
        </p>
    </div>
{% endblock %}