<h1>Vous avez desormais un compte Releaser !</h1>

<h4>
    Bonjour {{ user.Username }},<br>
    Voici vos informations :<br>
    Votre email : {{ user.email }}<br>
    Votre username : {{ user.Username }}<br>
    Pour finaliser votre inscription veuillez consulter ce lien : <a href={{ url }}>Finaliser l'inscription</a>
</h4>

{{ include('mail/footer.html.twig') }}
