

{% if categories|length > 1 %}
    <h1>Mise en production pour l'outil : {{ categories }}</h1>
{% else %}
    <h1>Mise en production pour les outils : {{ categories }}</h1>
{% endif %}

<h4>
    Bonjour,<br>
    Voici les informations concernant la mise en production :<br>
    Auteur : {{ post.getAuthor.getUsername }}<br>
    Date : {{ post.getDate.format('d/m/Y H:i') }}<br>
    Contenu :<br>
</h4>
<h2> {{ post.description | nl2br }} </h2>



{{ include('mail/footer.html.twig') }}
